@import "normalize";

@import "foundation/settings";
@import "foundation/components/grid";
@import "foundation/components/alert-boxes";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
@import "foundation/components/forms";
@import "foundation/components/keystrokes";
@import "foundation/components/labels";
@import "foundation/components/panels";
@import "foundation/components/side-nav";
@import "foundation/components/split-buttons";
@import "foundation/components/sub-nav";
@import "foundation/components/switches";
@import "foundation/components/tables";
@import "foundation/components/tooltips";
@import "foundation/components/top-bar";
@import "foundation/components/type";
@import "foundation/components/visibility";

html, body, #root {
  width: 100%;
  height: 100%;
}

.app-root {
  height: 100%;
  position: relative;

  .top-bar {
    z-index: 2;

    li > a.active {
      background: $topbar-link-bg-active;
      color: $topbar-link-color-active;
      &:hover {
        background: $topbar-link-bg-active-hover;
        color: $topbar-link-color-active-hover;
      }
    }

    input.location-edit-box {
      background-color: inherit;
      color: #fff;
      border: 0;
      box-shadow: none;
      position: relative;

      transition: border-bottom-color 0.4s;
      border-bottom: solid 1px darken($topbar-bg-color, 10%);
    }
    input.location-edit-box:focus {
      border-bottom-color: #eeeeee;
    }
  }

  .app-content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 45px;

    .login-page {
      margin-top: 24px;
    }
  }
}

.codemirror-container {
  height: 100%;
  .CodeMirror {
    height: 100%;
  }
}

.markdown-container {
  img {
    max-width: 35%;
  }
}

.display-mode-selector {
  position: fixed;
  top: $topbar-height + 10px;
  right: 60px;

  padding: 0;
  margin: 0;
  background-color: #dddddd;
  opacity: 0.4;
  display: inline-block;

  &:hover {
    opacity: 1;
  }

  li {
    list-style: none;
    display: inline-block;
    width: auto;
    padding: 4px 10px;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: #aaaaaa;
    }
  }
}

$sidebar-background: #eeeeee;
$sidebar-border: #dddddd;

.sidebar {
  $sidebar-width: 40px;

  background-color: $sidebar-background;
  border-left: solid 1px $sidebar-border;
  flex: 0 0 ($sidebar-width + 1px);

  .sidebar-button {
    width: $sidebar-width;
    height: $sidebar-width;

    overflow: hidden;

    cursor: pointer;
    &:hover {
      background-color: darken($sidebar-background, 5);
    }
  }
}

.users-sidebar {
  .sidebar-title {
    padding: 6px;

    background-color: darken($sidebar-background, 6);
    margin-bottom: solid 1px darken($sidebar-background, 6);
  }
}

.flex-animation-container {
  display: flex;
  height: 100%;
  overflow: hidden;

  transition: all 500ms linear;
  .flex-animation-leave {
    -webkit-animation: flexShrink 500ms ease forwards;
    animation: flexShrink 500ms ease forwards;
  }
  .flex-animation-enter {
    -webkit-animation: flexGrow 500ms ease forwards;
    animation: flexGrow 500ms ease forwards;
  }
}
@-webkit-keyframes flexShrink {
  to {
    flex: .00001;
  }
}
@keyframes flexShrink {
  to {
    flex: .00001;
  }
}
@keyframes flexGrow {
  from {
    flex: .00001;
  }
}
@-webkit-keyframes flexGrow {
  from {
    flex: .00001;
  }
}

.other-user-cursor {
  z-index: 10;
  cursor: text;
  color: #ffffff;
  font-family: sans-serif;

  .cursor-bar {
    background-color: #008000;
  }

  .cursor-top {
    background-color: #008000;
  }

  .cursor-name {
    background-color: #008000;
    z-index: 11;
  //  visibility: hidden;
  }
  //&:hover > .cursor-name {
  //  visibility: visible;
  //}
}

.test {
  background-color: red;
}

@import "codemirror";