@import "normalize";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

$header-height: 48px;
$nav-padding: 6px;

.app-root {
    height: 100%;

    .top-bar {
        position: absolute;
    }

    .app-content-wrapper {
        height: 100%;
        padding-top: $header-height;
    }
}

.codemirror-container {
    .CodeMirror {
        height: 100%;
    }
}

@mixin action-box() {
    background-color: #dddddd;
    color: #222222;
    border-radius: 2px;
}

.top-bar {
    width: 100%;
    height: $header-height;

    //background-color: #3F51B5;
    background-color: #f0f0f0;
    border-bottom: solid 1px #ddd;

    .page-nav-container {
        float: left;
        width: 40%;
        max-width: 500px;
        padding: $nav-padding;

        &:before {
            position: absolute;
            top: 15px;
            left: 10px;

            font-family: "untitled-font-1" !important;
            content: 'd';
            font-size: 1.2em;
            font-weight: bold;

            //color: #303f9f;
            color: #6e0000;

            pointer-events: none;
        }

        .page-nav {
            height: $header-height - ($nav-padding * 2);
            width: 100%;

            padding: 8px;
            padding-left: 26px;
            border: 0;

            font-size: 1em;

            //background-color: #5C6BC0;
            background-color: #dddddd;
            //color: #ffffff;
            color: #222222;
            border-radius: 2px;

            transition: box-shadow .2s ease;

            &:focus {
                //box-shadow: 2px 2px 0 #3949AB;
                box-shadow: 1px 1px 1px #cccccc;
                outline: none;
            }
        }
    }

    .edit-button-container {
        float: left;
        padding: $nav-padding;
        padding-left: 0;

        .edit-button {
            height: $header-height - ($nav-padding * 2);
            line-height: $header-height - ($nav-padding * 2);
            padding: 0 10px;
            border: 0;
            outline: none;
            @include action-box();

            &.active {
                background-color: #bbbbbb;
            }
        }
    }

    .right-segment {
        float: right;

    }

}

.document-view-standalone-container {
    overflow-y: scroll;
    height: 100%;

    .text-container {
        display: flex;
        justify-content: center;

        .markdown-container {
            width: 100%;
            margin-top: 10px;
            @media screen and (min-width: 740px) {
                width: 640px;
                padding: 10px;
                background-color: #fafafa;
            }
        }
    }
}

.connection-status {
    position: relative;
    height: $header-height;
    width: $header-height - 10;

    .icon {
        font-size: 1.5em;
        position: absolute;
        top: 13px;
        left: 6px;

        &.green {
            color: #4CAF50;
        }
        &.red {
            color: #F44336;
        }
    }
}

.markdown-container {
    // Table styles are nicked from https://github.com/yahoo/pure
    // (MIT License)
    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        border: 1px solid #cbcbcb;

        td, th {
            border-left: 1px solid #cbcbcb;
            border-width: 0 0 0 1px;
            font-size: inherit;
            margin: 0;
            overflow: visible;
            padding: 0.5em 1em;
        }

        td:first-child, th:first-child {
            border-left-width: 0;
        }

        thead {
            background-color: #e0e0e0;
            color: #000;
            text-align: left;
            vertical-align: bottom;
        }
    }
}

$gray6: #333;
$gray5: #555;
$gray2: #ddd;

$body-background: #fbfbfb;

$main-color: #4378a7;
$success-color: #16b6B6;

$color-diff: #151515;

$font-size: 16px;
$line-height: 1.5em;
$bold: 700;

$transition-time: 0.25s;

$pre-font-family: "Deja-vu Sans Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
$pre-font-size: 15px;

@import "typography";
@import "codemirror";
